<div class="blc-about bg-blue" id="about-substrate">
    <div class="container">
        <div class="head">
            <h1 class="title hr">ASURE BLOCKCHAIN</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Social security have by far the highest transaction processing capacity requirements.
                    For such cases a specially designed blockchain is necessary.
                    With the help of Substrate framework we will develop a scalable network for social security use-cases.
                </div>
            </div>
        </div>
        
        <div class="features">
            <div class="row">
                <div class="col-md-12">
                    <img src="content/img/asure_substrate.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>