<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Network Angels Programm</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        Asure Network is a layer 2 scaling network that enables fast, easy and secure transactions for
                        not only payment transactions, but also generalized smart contracts. Founded by German insurance
                        and technology experts, the network enables everyone to quickly build, operate, and use highly
                        scalable business applications through innovations in multi-chain scaling techniques and
                        incentive-aligned crypto economics mechanisms.
                    </p>
                    <p style="display: none">
                        <strong>Why Angels Programm?</strong><br/>

                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
