<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="tab-info">
                    <li class="nav-item">
                        <a class="nav-link active" href="#welcome" data-toggle="tab">Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#participate" data-toggle="tab">Participate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#token-distribution" data-toggle="tab">Token Distribution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rules" data-toggle="tab">Rules</a>
                    </li>
                </ul>
            </div>
            <div class="card-body ">
                <div class="tab-content p-0 border-0">
                    <div class="tab-pane fade show active text-center" id="welcome" role="tabpanel"
                         aria-labelledby="participate-tab">
                        <h3>Welcome to the Asure Bounty Programm II</h3>
                        <p>
                            <a class="nav-link-goto-participate" href="#participate">How to participate?</a>
                        </p>
                    </div>
                    <div class="tab-pane fade show" id="participate" role="tabpanel"
                         aria-labelledby="participate-tab">
                        <p>
                            Please submit your work report via weekly report Form as well as on the Bounty thread till
                            the end of every week.
                        </p>
                        <ol style="list-style-position: inside;">
                            <li>
                                Fill out the registration application
                                <a href="https://forms.gle/kLfbUSbyfjRSZEkU7" target="_blank">form</a>
                                once.
                            </li>
                            <li>
                                Kindly fill up the forms in
                                <a href="https://bitcointalk.org/index.php?topic=5150750.msg51349151"
                                   target="_blank">Bitcointalk</a>
                            </li>
                            <li>
                                Fill in your activities in the
                                <a href="https://forms.gle/uzwm5xwyvsnoJ2aY9" target="_blank">form</a>.
                            </li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="token-distribution" role="tabpanel"
                         aria-labelledby="token-distribution-tab">
                    </div>
                    <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                        <ul>
                            <li>We reserve the right to limit the number of participants in the
                                campaigns at
                                any
                                time.
                            </li>
                            <li>We reserve the right to change the conditions of our bounty campaign at
                                any
                                time.
                            </li>
                            <li>We reserve the right to disqualify any user at any time.</li>
                            <li>Only one account per person. Using multi-accounts, cheating and spamming
                                are
                                strictly forbidden. The ones breaking the rule will be disqualified from
                                the
                                Bounty
                                program without getting any tokens.
                            </li>
                            <li>Your payment address cannot be changed. Once you apply, your address
                                will be
                                locked.
                                (Every participant is responsible for the protection of his/her payment
                                address and
                                private keys).
                            </li>
                            <li>You need to join our Bounty Telegram group in order to participate in
                                the
                                Asure
                                Bounty program. Without joining the telegram group, you will not be
                                counted
                                on any
                                Bounty. <br/><br/>
                                The telegram link is: <a href="https://t.me/AsureNetwork"
                                                         target="_blank">https://t.me/AsureNetwork</a>
                            </li>
                            The Bounty telegram link is: <a href="https://t.me/AsureBounty"
                                                            target="_blank">https://t.me/AsureBounty</a></li>
                        </ul>

                        <br/>
                        Note: ALL BOUNTY RELATED QUESTIONS MUST BE ASKED ONLY IN OUR BOUNTY GROUP HERE:
                        <a href="https://t.me/AsureBounty" target="_blank">https://t.me/AsureBounty</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



