<div class="row collapse" id="collapseBountyInfo">
    <div class="col-12">
        <p>
        <h2>How to Apply?</h2>
        Please submit your work report via weekly report Form as well as on the
        Bounty thread till the end of every week.<br/><br/>

        1. Fill out the registration application form:<br/>
        <a href="https://forms.gle/kLfbUSbyfjRSZEkU7" target="_blank"
           class="btn btn-primary col-2">
            Registration
        </a><br/>
        2. Kindly fill up the forms in Bitcointalk below:<br/>
        <a href="https://bitcointalk.org/index.php?topic=5150750.msg51349151"
           target="_blank" class="btn btn-primary col-2">
            Bitcointalk
        </a><br/>
        3. Fill in your activities in the form here: <br/>
        <a href="https://forms.gle/uzwm5xwyvsnoJ2aY9" target="_blank"
           class="btn btn-primary col-2">
            Report
        </a>
        </p>
        <p>
            <strong>Report Example</strong><br/>
            ERC-20 Wallet Address : ________<br/>
            Campaign ID: ________<br/>
            Week Number: __________<br/>
            Work URLs: <br/>
            1. _________<br/>
            2. _________<br/>
            3. _________<br/>
            4. _________<br/>
            5. _________<br/>
        </p>

        <h2>General rules</h2>

        <ul>
            <li>We reserve the right to limit the number of participants in the
                campaigns at
                any
                time.
            </li>
            <li>We reserve the right to change the conditions of our bounty campaign at
                any
                time.
            </li>
            <li>We reserve the right to disqualify any user at any time.</li>
            <li>Only one account per person. Using multi-accounts, cheating and spamming
                are
                strictly forbidden. The ones breaking the rule will be disqualified from
                the
                Bounty
                program without getting any tokens.
            </li>
            <li>Your payment address cannot be changed. Once you apply, your address
                will be
                locked.
                (Every participant is responsible for the protection of his/her payment
                address and
                private keys).
            </li>
            <li>You need to join our Bounty Telegram group in order to participate in
                the
                Asure
                Bounty program. Without joining the telegram group, you will not be
                counted
                on any
                Bounty. <br/><br/>
                The telegram link is: <a href="https://t.me/AsureNetwork"
                                         target="_blank">https://t.me/AsureNetwork</a>
            </li>
            The Bounty telegram link is: <a href="https://t.me/AsureBounty"
                                            target="_blank">https://t.me/AsureBounty</a></li>
        </ul>

        <br/>
        Note: ALL BOUNTY RELATED QUESTIONS MUST BE ASKED ONLY IN OUR BOUNTY GROUP HERE:
        <a href="https://t.me/AsureBounty" target="_blank">https://t.me/AsureBounty</a>

        <a href="https://bitcointalk.org/index.php?topic=5150750.msg51349151" target="_blank"
           class="btn btn-success form-control">BITCOINTALK</a>
    </div>
</div>


