<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Network Bounty Campaign</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        Asure Network is a layer 2 scaling network that enables fast, easy and secure transactions for
                        not only payment transactions, but also generalized smart contracts. Founded by German insurance
                        and technology experts, the network enables everyone to quickly build, operate, and use highly
                        scalable business applications through innovations in multi-chain scaling techniques and
                        incentive-aligned crypto economics mechanisms.
                    </p>
                    <p style="display: none">
                        <strong>What Problems Does Asure Network Solve?</strong><br/>
                        We are developing Asure Network as an infrastructure for social security systems of the future.
                        Our goal is to provide access to 4.1 billion people worldwide who have no access to social
                        security systems today. The existing social security systems are based on centralized databases,
                        intransparent processes, fraud, corruption, labor-intensive processes and lack of trust in
                        systems are the challenges we solve with the help of blockchain and thus we create a global
                        inclusion in the social security market, just as Bitcoin allows for inclusion in the financial
                        market.
                    </p>
                </div>
            </div>
        </div>

        <div class="ico">
            <div class="row">
                <div class="col-lg-12">
                    <div class="item">
                        <div>
                            <h2 class="d-block d-lg-none">Details</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active" href="#tab-info" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Info
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-rules" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Rules
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-twitter" aria-controls="home" role="tab"
                                       data-toggle="tab">
                                        Twitter
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-telegram" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        Telegram
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-youtube" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        Youtube
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-linkedin" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        Linkedin
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-contact" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-info">

                                    <p>
                                    Please submit your work report via weekly report Form as well as on the Bounty thread till the end of every week.
                                        <br/><br/>
                                    How to Apply<br/>
                                    1. Fill out the registration application form:<br/>
                                    https://forms.gle/kLfbUSbyfjRSZEkU7
                                        <br/>
                                    2. Fill in your activities in the form here: https://forms.gle/uzwm5xwyvsnoJ2aY9
                                        <br/>
                                    3. Kindly fill up the forms in Bitcointalk below
                                    TODO: Bitcointalk Link
                                    </p>
                                    <pre>Report Example:
 Your Name: ________
 ERC-20 Wallet Address : ________
 Campaign Name: ________
 Week Number: __________
 Work URLs: _________
 Description: _________
                                    </pre>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-rules">

                                    We reserve the right to limit the number of participants in the campaigns at any
                                    time.
                                    We reserve the right to change the conditions of our bounty campaign at any time.
                                    We reserve the right to disqualify any user at any time.
                                    Only one account per person. Using multi-accounts, cheating and spamming are
                                    strictly forbidden. The ones breaking the rule will be disqualified from the Bounty
                                    program without getting any tokens.
                                    The distribution of the tokens to bounty participants will occur after the end of
                                    TGE.
                                    Your payment address cannot be changed. Once you apply, your address will be locked.
                                    (Every participant is responsible for the protection of his/her payment address and
                                    private keys).
                                    You need to join our Bounty Telegram group in order to participate in the Asure
                                    Bounty program. Without joining the telegram group, you will not be counted on any
                                    Bounty. The telegram link is: https://t.me/AsureBounty

                                    Note: ALL BOUNTY RELATED QUESTIONS MUST BE ASKED ONLY IN OUR BOUNTY GROUP HERE:
                                    https://t.me/AsureBounty


                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-twitter">
                                    Earn Tokens as a reward for retweets and likes of the official announcements twits
                                    of the Asure Network account.

                                    <p><strong>Payment:</strong><br/>
                                        15% of Shares Bounty will be allocated to Twitter Campaign<br/>
                                        20% = $ 1.000.000 ASR Tokens for Shares Bounty 1<br/>
                                        40% = $ 2.500.000 ASR Tokens for Shares Bounty 2<br/>
                                    </p>
                                    <p><strong>Rules</strong><br/>
                                        Follow us here: https://twitter.com/AsureNetwork
                                        The Twitter audit must be equal to or greater than 85% (use
                                        https://www.twitteraudit.com/).
                                        Must make at least 5 tweets about Asure Network per week.
                                        Retweet all of Asure Network's official announcements
                                        Comments should have a minimum of 50 characters and constructive.
                                        Breaking Any of the Campaign rules can result in being rejected.
                                    </p>
                                    <p><strong>Requirements</strong><br/>
                                        You must have a minimum of 300 followers and a minimum of 50 twits.
                                        Twitter account must be legitimate with no less than 90% Twitter Audit. No fake,
                                        inactive or a bot account allowed.
                                        You must be an active and regular Twitter user & must retweet and like
                                        @AsureNetwork official tweets and updates.
                                        Include in all posts @AsureNetwork, posts without a tag will not be counted.
                                        Account must be open as a Public Profile and all Posts shared need to be public
                                        as well.
                                        You must make 4 RETWEETS per week, Maximum of 2 shares a day with the hashtags:
                                        #asure #asuretoken #tge #ico #crypto #defi
                                        Multiple accounts are not allowed. Those found using such multi accounts will be
                                        disqualified and blacklisted from all future campaigns
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-telegram">

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-contact">
                                    If you have any questions regarding the bounty campaign or if you need any
                                    assistance, feel free to contact us either in the specially created Telegram group
                                    https://t.me/AsureBounty or per email using bounty@asure.io.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            If you have any questions regarding the bounty campaign or if you need any assistance, feel free to contact us either in the specially created Telegram group https://t.me/AsureBounty or per email using bounty@asure.io.
        </div>
    </div>
</section>
