<section class="blc-news bg-gray" id="news">
    <div class="head">
        <h1 class="title hr">News</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 content-block">

                <div class="row bg-white">
                    <div class="col-md-4">
                        <a href="https://medium.com/asurenetwork/map-of-teams-working-with-the-substrate-framework-78d4e8ac2970?source=asure.network"
                           target="_blank">
                            <img src="https://cdn-images-1.medium.com/max/800/1*G6n4uvIpj6erL8h0r0FcRg.png"
                                 class="img-thumbnail"/>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="https://medium.com/asurenetwork/map-of-teams-working-with-the-substrate-framework-78d4e8ac2970?source=asure.network"
                           target="_blank">
                            <h4>Map of teams working with the Substrate framework</h4>
                        </a>
                        After Substrate Beta was released, it became possible to get your hands dirty and build
                        something that actually works. Many teams and…
                    </div>
                </div>

                <div class="row bg-white">
                    <div class="col-md-4">
                        <a href="https://medium.com/asurenetwork/can-gdpr-disrupt-blockchain-technology-3ba43ece0fbf?source=asure.network"
                           target="_blank">
                            <img src="https://cdn-images-1.medium.com/max/800/1*TLOA0SoyLJbK4Cw7OJ3RdQ.png"
                                 class="img-thumbnail"/>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="https://medium.com/asurenetwork/can-gdpr-disrupt-blockchain-technology-3ba43ece0fbf?source=asure.network"
                           target="_blank">
                            <h4>Can GDPR Disrupt Blockchain Technology?</h4>
                        </a>
                        After the passing of GDPR, some blockchain projects could no longer operate legally, and one of
                        them was Parity ICO Passport Service…
                    </div>
                </div>

                <div class="row bg-white">
                    <div class="col-md-4">
                        <a href="https://medium.com/asurenetwork/our-2018-year-in-review-42263e2be7f5?source=asure.network"
                           target="_blank">
                            <img src="https://cdn-images-1.medium.com/max/800/1*RUwP7Zr4y2Yuhxpe0zg7yg.png"
                                 class="img-thumbnail"/>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="https://medium.com/asurenetwork/our-2018-year-in-review-42263e2be7f5?source=asure.network"
                           target="_blank">
                            <h4>Our 2018 year in review</h4>
                        </a>
                        Last year was very exciting, it has been full of its ups and downs for the crypto market, but
                        for us, these were ups all the way. 2018 was…
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <a class="twitter-timeline"
                   href="https://twitter.com/AsureNetwork"
                   data-height="500"
                   data-theme="light"
                   data-tweet-limit="1"
                   data-chrome="nofooter noborders"
                   data-link-color="#69acd6"
                >Asure.Network is loading ...</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" defer></script>
            </div>
        </div>
    </div>
</section>