<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Press Kit</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-12">


                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active" href="#tab-en" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                EN
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#tab-de" aria-controls="messages" role="tab"
                               data-toggle="tab">
                                DE
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-en">
                            <p>
                                We’ve gathered some info you might need when writing about Asure Network.
                            </p>
                            <h4>About Us:</h4>
                            <p>


                            </p>
                            <h4>About the Project Asure.Network:</h4>
                            <p>
                                Asure Network is a layer 2 scaling network that enables fast, easy and secure
                                transactions for not only payment transactions, but also generalized smart contracts.
                                Founded by German insurance and technology experts, the network enables everyone to
                                quickly build, operate, and use highly scalable business applications through
                                innovations in multi-chain scaling techniques and incentive-aligned crypto economics
                                mechanisms.<br/><br/>
                                What Problems Does Asure Network Solve? <br/>
                                We are developing Asure Network as an infrastructure for social security systems of the
                                future. Our goal is to provide access to 4.1 billion people worldwide who have no access
                                to social security systems today. The existing social security systems are based on
                                centralized databases, intransparent processes, fraud, corruption, labor-intensive
                                processes and lack of trust in systems are the challenges we solve with the help of
                                blockchain and thus we create a global inclusion in the social security market, just as
                                Bitcoin allows for inclusion in the financial market.
                            </p>
                            <h4>Our Mission:</h4>
                            <p>
                                To help the social security achieve the necessary standards of quality, transparency,
                                and reliability.
                            </p>
                            <h4>Our Vision:</h4>
                            <p>
                                People around the world enjoy their lives without having to worry about any risks or
                                losses.
                            </p>
                            <h4>Facts:</h4>
                            <p>
                                Our team consists of more than 15 specialists who have backgrounds in
                                insurance and technology, and specialize in working with enterprises and authorities in
                                the fields of innovations.
                            </p>
                            <p>
                                <strong>Launched:</strong> In early 2018
                            </p>
                            <p>
                                <strong>Headquarters: </strong> Zug, Switzerland, Dortmund, Germany
                            </p>
                            <p>
                                <strong>Logo-Download: </strong>
                                <a href="https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0"
                                   target="_blank">
                                    https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0
                                </a>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tab-de">

                            <p>
                                We’ve gathered some info you might need when writing about Asure Network.
                            </p>
                            <h4>About Us:</h4>
                            <p>


                            </p>
                            <h4>About the Project Asure.Network:</h4>
                            <p>
                                Asure Network is a layer 2 scaling network that enables fast, easy and secure
                                transactions for not only payment transactions, but also generalized smart contracts.
                                Founded by German insurance and technology experts, the network enables everyone to
                                quickly build, operate, and use highly scalable business applications through
                                innovations in multi-chain scaling techniques and incentive-aligned crypto economics
                                mechanisms.<br/><br/>
                                What Problems Does Asure Network Solve? <br/>
                                We are developing Asure Network as an infrastructure for social security systems of the
                                future. Our goal is to provide access to 4.1 billion people worldwide who have no access
                                to social security systems today. The existing social security systems are based on
                                centralized databases, intransparent processes, fraud, corruption, labor-intensive
                                processes and lack of trust in systems are the challenges we solve with the help of
                                blockchain and thus we create a global inclusion in the social security market, just as
                                Bitcoin allows for inclusion in the financial market.
                            </p>
                            <h4>Our Mission:</h4>
                            <p>
                                To help the social security achieve the necessary standards of quality, transparency,
                                and reliability.
                            </p>
                            <h4>Our Vision:</h4>
                            <p>
                                People around the world enjoy their lives without having to worry about any risks or
                                losses.
                            </p>
                            <h4>Facts:</h4>
                            <p>
                                Our team consists of more than 15 specialists who have backgrounds in
                                insurance and technology, and specialize in working with enterprises and authorities in
                                the fields of innovations.
                            </p>
                            <p>
                                <strong>Gestartet:</strong> Anfang 2018
                            </p>
                            <p>
                                <strong>Niederlassungen: </strong> Zug, Schweiz, Dortmund, Deutschland
                            </p>
                            <p>
                                <strong>Logo-Download: </strong>
                                <a href="https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0"
                                   target="_blank">
                                    https://www.dropbox.com/sh/46std9u0knlq2cz/AAAR3N1LiMs0vG0ZqWf7RSj9a?dl=0
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
