<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Asure Press Kit</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    <p>
                        We’ve gathered some info you might need when writing about Asure Network.
                    </p>
                    <h2>About Us:</h2>
                    <p>
                        We’ve gathered some info you might need when writing about Asure Network.
                    </p>
                    <h2>Our Mission:</h2>
                    <p>
                        To help the social security achieve the necessary standards of quality, transparency, and reliability.
                    </p>
                    <h2>Facts:</h2>
                    <p>
                        Our team consists of more than 15 specialists who have backgrounds in
                        insurance and technology, and specialize in working with enterprises and authorities in the fields of innovations.
                    </p>
                    <p>
                        <strong>Launched:</strong> In early 2018
                    </p>
                    <p>
                        <strong>Headquarters: </strong> Zug, Switzerland, Dortmund, Germany
                    </p>
                    <p>
                        <strong>Download: </strong> Logo
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
