<section class="blc-ico" id="ico">
    <div class="container">
        <div class="head">
            <h1 class="title">TGE</h1>
        </div>

        <div class="ico">
            <div class="row">
                <div class="col-md-12">
                    <div class="item">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active" href="#tab-info" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Info
                                    </a>
                                </li>

                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-presale" aria-controls="home" role="tab"
                                       data-toggle="tab">
                                        Presale
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-crowdsale" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        Crowdsale
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-info">
                                    <br/>
                                    The token pre-sale will start in August 2019.
                                    <br/><br/>

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Classification</td>
                                            <td class="text-left text-md-right orange">Utility Token</td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td class="text-left text-md-right orange">ERC20 / ERC233 Token</td>
                                        </tr>
                                        <tr>
                                            <td>Total Token Supply</td>
                                            <td class="text-left text-md-right orange">100,000,000*</td>
                                        </tr>

                                        <tr>
                                            <td>Accepted currencies</td>
                                            <td class="text-left text-md-right orange">ETH</td>
                                        </tr>

                                        <tr>
                                            <td>Exchange Rate</td>
                                            <td class="text-left text-md-right orange">1 ASR = $ 1 (ETH equivalent)</td>
                                        </tr>
                                        <tr>
                                            <td>Minimum Contribution</td>
                                            <td class="text-left text-md-right orange">$ 100 (ETH equivalent)</td>
                                        </tr>
                                        <tr>
                                            <td>Hard Cap</td>
                                            <td class="text-left text-md-right orange">$ 40,000,000
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    * - All unsold tokens in public TGE will be burned

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-presale">
                                    <br/>
                                    The token pre-sale will start in August 2019.
                                    <br/><br/>

                                    <table class="table">
                                        <tbody>
                                         <tr style="border-top: solid 1px #444444">
                                            <td>Pre-Sale</td>
                                            <td class="text-left text-md-right orange">August 1, 2019 - August 15, 2019</td>
                                        </tr>
                                         <tr>
                                             <td>Pre-Sale Cap</td>
                                             <td class="text-left text-md-right orange">
                                                 $ 5.000.000 - 10.000.000 ASR
                                             </td>
                                         </tr>
                                         <tr>
                                             <td>Pre-Sale Terms</td>
                                             <td class="text-left text-md-right orange">
                                                 First week 50% bonus ($ 0.50)<br/>
                                                 After first week 25% bonus ($ 0.75)
                                             </td>
                                         </tr>

                                        </tbody>
                                    </table>
                                    * - All unsold tokens in public TGE will be burned


                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-crowdsale">

                                    <br/>
                                    The token Main-Sale will start in December 2019.
                                    <br/><br/>

                                    <table class="table">
                                        <tbody>
                                        <tr style="border-top: solid 1px #444444">
                                            <td>Main-Sale</td>
                                            <td class="text-left text-md-right orange">December 1, 2019 - December 31, 2019</td>
                                        </tr>
                                        <tr>
                                            <td>Main-Sale Cap</td>
                                            <td class="text-left text-md-right orange">
                                                $ 35.000.000 - 35.000.000 ASR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main-Sale Terms</td>
                                            <td class="text-left text-md-right orange">
                                                First week 15% bonus ($ 0.85)<br/>
                                                After first week 0% bonus ($ 1.00)
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    * - All unsold tokens in public TGE will be burned

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
