<section class="blc-tge bg-white-blue" id="tge-sale">
    <div class="container">


        <div class="ico">
            <div class="row">
                <div class="col-xl-5">
                    <h2 class="text-center m-4 text-uppercase">Asure Network</h2>
                    <h5 class="mb-4">
                        The infrastructure for future social security systems.
                        <br/><br/>
                        Become an Early Contributor.
                    </h5>

                    <div class="row card-price pt-4 pb-4">
                        <div class="col-4 font-weight-bold">Whitepaper</div>
                        <div class="col-8">
                            <a href="/asure.network.whitepaper.en.pdf" rel="nofollow" target="_blank">
                                <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>
                            &nbsp;
                            <a href="https://medium.com/asure-network-japan/asure-network%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88%E3%83%9A%E3%83%BC%E3%83%91%E3%83%BC-bb0651314940" rel="nofollow" target="_blank">
                                <img src="content/img/jp.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>
                            &nbsp;
                            <a href="/asure.network.whitepaper.ru.pdf" rel="nofollow" target="_blank">
                                <img src="content/img/ru.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>
                        </div>


                        <div class="col-4 font-weight-bold">TGE Paper</div>
                        <div class="col-8">
                            <a href="/asure.network.tge.en.pdf" rel="nofollow" target="_blank">
                                <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>
                            &nbsp;
                            <a href="/asure.network.tge.jp.pdf" rel="nofollow" target="_blank">
                                <img src="content/img/jp.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>

                        </div>


                        <div class="col-4 font-weight-bold">Investor deck</div>
                        <div class="col-8">
                            <a href="/asure.network.investordeck.en.pdf" rel="nofollow" target="_blank">
                                <img src="content/img/en.svg.png" height="20px" class="img-flag-thumbnail"/>
                            </a>
                        </div>

                    </div>

                    <br/>

                    <div class="row card-price pt-4 pb-4 mb-4">
                        <div class="col-2 font-weight-bold">Type</div>
                        <div class="col-6 font-weight-bold">Date</div>
                        <div class="col-2 font-weight-bold">Bonus</div>
                        <div class="col-2 font-weight-bold text-right">Price</div>

                        <div class="col-2">PreSale</div>
                        <div class="col-6">Aug. 1, 2019 - Aug. 7, 2019</div>
                        <div class="col-2">50%</div>
                        <div class="col-2 text-right">$ 0.50</div>

                        <div class="col-2">PreSale</div>
                        <div class="col-6">Aug. 7, 2019 - Aug. 15, 2019</div>
                        <div class="col-2">25%</div>
                        <div class="col-2 text-right">$ 0.75</div>

                        <div class="col-2">IEO</div>
                        <div class="col-6">Sep. 1, 2019 - Sep. 15, 2019</div>
                        <div class="col-2">20%</div>
                        <div class="col-2 text-right">$ 0.80</div>

                        <div class="col-2">MainSale</div>
                        <div class="col-6">Dec. 1, 2019 - Dec. 7, 2019</div>
                        <div class="col-2">15%*</div>
                        <div class="col-2 text-right">$ 0.85</div>

                        <div class="col-2">MainSale</div>
                        <div class="col-6">Dec. 7, 2019 - Dec. 31, 2019</div>
                        <div class="col-2">0%*</div>
                        <div class="col-2 text-right">$ 1.00</div>
                        <div class="col-12">* TBD - Exchange trading price dependency</div>
                    </div>
                </div>
                <div class="col-xl-7 pr-4 pl-4 tge-box">
                    <h2 class="text-center m-4 text-uppercase">Asure TGE PreSale</h2>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-body card-tge-contract-details text-center">
                                    <h5 class="card-title text-uppercase">Token sale contract address</h5>
                                    <p class="card-text">
                                        <a class="tge-contract-addr" href="" target="_blank" rel="noopener"></a>
                                    </p>
                                    <p class="card-text">How to participate:
                                        [<a href="#" target="_blank">Blog post</a>]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-deck mb-4">
                                <div class="card card-start-counter">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase counter-title"></h5>
                                        <h6 class="card-title counter-title-date">01 August 00:00 CEST</h6>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="counter-counter counter-days">0</div>
                                                <div class="counter-text">days</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-hours">0</div>
                                                <div class="counter-text">hours</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-minutes">0</div>
                                                <div class="counter-text">mins</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="counter-counter counter-seconds">0</div>
                                                <div class="counter-text">secs</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body d-flex flex-column text-center">
                                        <h5 class="card-title text-uppercase">Subscribe for Updates</h5>
                                        <div class="card-text d-flex justify-content-center align-items-center" style="flex: 2">
                                            <div class="social-header">
                                                <a href="https://twitter.com/AsureNetwork" target="_blank"
                                                   rel="noopener" alt="twitter">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a href="https://t.me/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="telegram">
                                                    <i class="fab fa-telegram"></i>
                                                </a>
                                                <a href="https://medium.com/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="medium">
                                                    <i class="fab fa-medium"></i>
                                                </a>
                                                <a href="https://fb.me/AsureNetwork" target="_blank" rel="noopener"
                                                   alt="facebook">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                                <a href="https://www.reddit.com/r/asure" target="_blank" rel="noopener"
                                                   alt="reddit">
                                                    <i class="fab fa-reddit"></i>
                                                </a>
                                                <a href="https://www.youtube.com/c/AsureNetwork" target="_blank"
                                                   rel="noopener"
                                                   alt="youtube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                                <a href="https://www.github.com/AsureNetwork" target="_blank"
                                                   rel="noopener" alt="github">
                                                    <i class="fab fa-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-deck mb-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase">KYC</h5>
                                        <a class="btn btn-block btn-action text-uppercase" href="/kyc">Register for TGE</a>
                                        <small class="text-muted">
                                            You must register first before you can participate in our token sale.
                                        </small>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title text-uppercase">Token Sale</h5>
                                        <a class="btn btn-block btn-warning text-uppercase" href="/tge-status">Buy ASR token</a>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <form class="form-inline form-addr-search">
                                    <div class="flex-grow-1">
                                        <label class="sr-only" for="ethereumAddress">Ethereum address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@</div>
                                            </div>
                                            <input type="text" class="form-control form-control"
                                                   id="ethereumAddress" placeholder="Insert your Ethereum address">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn btn-primary btn-update-addr text-uppercase">
                                        Check your Registration
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
