<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head">
            <h1 class="title hr">TGE - Token Generation Event</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    The ASURE TGE will happen in two rounds. The ﬁrst round will take place in mid 2019. The second
                    round
                    will happen later in 2019. Tokens will be ERC20 / ERC223 compatible and limited in supply.
                </div>
            </div>
        </div>

        <div class="ico">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h2>ASR Token</h2>

                        The token will be used for On-Chain
                        <span data-toggle="popover"
                              title="Governance"
                              data-placement="bottom"
                              data-trigger="hover"
                              data-content="On-Chain governance is crucial. ASR token holders will be able to govern the Asure blockchain,
                network, and vote over future improvements."
                        ><strong>Governance</strong></span>
                        and by
                        <span data-toggle="popover"
                              title="Network Validators"
                              data-placement="bottom"
                              data-trigger="hover"
                              data-content="Validators need to stake ASR tokens to validate transactions
                within the Asure network. In return, the network validators receive the networks transaction fees in
                the form of ASR as an incentive for validating correct blocks."
                        ><strong>Network Validators</strong></span> as well as
                        <span data-toggle="popover"
                              title="Service Providers"
                              data-placement="bottom"
                              data-trigger="hover"
                              data-content="The ASR token serves as an incentive for service providers within the Asure platform to work
                correctly and as advertised within their SLA’s."
                        ><strong>Service Providers</strong></span> to
                        participate as stakers in the proof-of-stake consensus mechanisms of the Asure network.

                        <p class="my-4">
                            <a class="btn btn-primary" href="/staking-rewards-calculator">
                                Rewards calculator
                            </a>
                        </p>
                    </div>

                    <div>
                        <h2>Registration</h2>
                        <p>
                            Become an early investor by registering for our TGE. Due to
                            <span data-toggle="popover"
                                  title="KYC"
                                  data-placement="bottom"
                                  data-trigger="hover"
                                  data-content="The ASR token serves as an incentive for service providers within the Asure platform to work
                correctly and as advertised within their SLA’s.">
                                <strong>KYC</strong>
                            </span>
                            and
                            <span data-toggle="popover"
                                  title="AML"
                                  data-placement="bottom"
                                  data-trigger="hover"
                                  data-content="The ASR token serves as an incentive for service providers within the Asure platform to work
                correctly and as advertised within their SLA’s.">
                                <strong>AML</strong>
                            </span>
                            regulations, only registered users will be allowed to participate
                            in our TGE.
                        </p>
                        <p>
                            During registration, you can whitelist your ETH address with which tokens can be purchased to during the TGE.
                        </p>
                        <p class="my-4">
                            <a class="btn btn-primary" href="/kyc">
                                Start registration
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item">
                        <div>
                            <h2 class="d-block d-lg-none">Details</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link active" href="#tab-info" aria-controls="messages" role="tab"
                                       data-toggle="tab">
                                        Info
                                    </a>
                                </li>

                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-presale" aria-controls="home" role="tab"
                                       data-toggle="tab">
                                        PRE-SALE
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="#tab-crowdsale" aria-controls="profile" role="tab"
                                       data-toggle="tab">
                                        MAIN-SALE
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-info">
                                    <br/>
                                    The token pre-sale will start in August 2019.
                                    <br/><br/>

                                    <table class="table table-sm">
                                        <tbody>
                                        <tr>
                                            <td>Classification</td>
                                            <td class="text-left text-md-right orange">Utility Token</td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td class="text-left text-md-right orange">ERC20 / ERC233 Token</td>
                                        </tr>
                                        <tr>
                                            <td>Total Token Supply</td>
                                            <td class="text-left text-md-right orange">100,000,000*</td>
                                        </tr>

                                        <tr>
                                            <td>Accepted currencies</td>
                                            <td class="text-left text-md-right orange">ETH</td>
                                        </tr>

                                        <tr>
                                            <td>Exchange Rate</td>
                                            <td class="text-left text-md-right orange">1 ASR = $ 1 (ETH equivalent)</td>
                                        </tr>
                                        <tr>
                                            <td>Minimum Contribution</td>
                                            <td class="text-left text-md-right orange">$ 100 (ETH equivalent)</td>
                                        </tr>
                                        <tr>
                                            <td>Hard Cap</td>
                                            <td class="text-left text-md-right orange">$ 40,000,000
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <small>
                                        * All unsold tokens in public TGE will be burned
                                    </small>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-presale">
                                    <br/>
                                    The token pre-sale will start in August 2019.
                                    <br/><br/>

                                    <table class="table table-sm">
                                        <tbody>
                                        <tr style="border-top: solid 1px #444444">
                                            <td>Pre-Sale</td>
                                            <td class="text-left text-md-right orange">August 1, 2019 - August 15,
                                                2019
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pre-Sale Cap</td>
                                            <td class="text-left text-md-right orange">
                                                $ 5.000.000 - 10.000.000 ASR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pre-Sale Terms</td>
                                            <td class="text-left text-md-right orange">
                                                First week 50% bonus ($ 0.50)<br/>
                                                After first week 25% bonus ($ 0.75)
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <small>
                                        * All unsold tokens in public TGE will be burned
                                    </small>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-crowdsale">

                                    <br/>
                                    The token Main-Sale will start in December 2019.
                                    <br/><br/>

                                    <table class="table table-sm">
                                        <tbody>
                                        <tr style="border-top: solid 1px #444444">
                                            <td>Main-Sale</td>
                                            <td class="text-left text-md-right orange">December 1, 2019 - December 31,
                                                2019
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main-Sale Cap</td>
                                            <td class="text-left text-md-right orange">
                                                $ 35.000.000 - 35.000.000 ASR
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Main-Sale Terms</td>
                                            <td class="text-left text-md-right orange">
                                                First week 15% bonus ($ 0.85)<br/>
                                                After first week 0% bonus ($ 1.00)
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <small>
                                        * All unsold tokens in public TGE will be burned
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
