<section class="blc-tge bg-white-pink" id="token-buy">
    <div class="container">
        <div class="head">
            <h1 class="title hr">HOWTOBUY</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">                    
                </div>
            </div>
        </div>

        <div class="ico">
            <div class="row">
			<div class="col-lg-6">
<h2>Buy ASR Step by Step</h2>			


1) Download MetaMask or Trust Wallet Applications
<br/><br/>

2) Purchase Ethereum (ETH) and send them to your <a href="https://metamask.io/" target="_blank">MetaMask</a> or <a href="https://trustwallet.com/" target="_blank">Trust Wallet</a>.
<br/><br/>


3) On the home page of asure.network click on <a href="https://app.uniswap.org/#/swap?use=v3&outputCurrency=0x15dfc197e7ac7d81a07250b5bdebaa96fc1c5dfa&slippage=150" target="_blank">“BUY”</a> button. This will open a Dapp Exchange Called “UniSwap” or use the frame on the right site.
<br/><br/>


4) A popup will open, click the check box “I understand”, this will load ASR into UniSwap.
<br/><br/>


5) Make sure your MetaMask Wallet or Trust Wallet Is synced with UniSwap.
<br/><br/>


6) Set the amount of ASR you would like to purchase, set the slippage to 10% or more and press Swap!
<br/><br/>


7) Enjoy your trip!
<br/><br/>
 <p class="my-4">
     <a class="btn btn-action btn-shadow btn-block-xs-only" href="https://app.uniswap.org/#/swap?use=v3&exactField=output&outputCurrency=0x15dfc197e7ac7d81a07250b5bdebaa96fc1c5dfa&slippage=1000" target="_blank">
         BUY NOW
     </a>
 </p>


			</div>
                <div class="col-lg-6">                    
						<iframe
						  src="https://app.uniswap.org/#/swap?use=v3&outputCurrency=0x15dfc197e7ac7d81a07250b5bdebaa96fc1c5dfa&slippage=150"
						  height="660px"
						  width="100%"
						  style="
							border: 0;
							margin: 0 auto;
							display: block;
							border-radius: 10px;
							max-width: 600px;
							min-width: 300px;
						  "
						  id="myId"
						/>                    
                </div>
            </div>
        </div>
    </div>
</section>
