<div class="blc-graph" id="graph">
    <div class="container">
        <div class="head">
            <h1 class="title h2">
                DISTRIBUTION
            </h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-responsive dist">
                    <tr>
                        <td class="bg-color1" style="width: 49%;">49%</td>
                        <td class="bg-color2" style="width: 24%;">24%</td>
                        <td class="bg-color3" style="width: 5%;">14%</td>
                        <td class="bg-color4" style="width: 3%;">9%</td>
                        <td class="bg-color5" style="width: 2%;">4%</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row item bg-color1-item">
                    <div class="col-md-5">
                        <div class="name">Public</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">49%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 49%;"></div>
                        </div>
                    </div>

                </div>
                <div class="row item  bg-color2-item">
                    <div class="col-md-5">
                        <div class="name">Burn reservation</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">24%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 24%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item  bg-color3-item">
                    <div class="col-md-5">
                        <div class="name">Team</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">14%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 14%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item  bg-color4-item">
                    <div class="col-md-5">
                        <div class="name">Family & Friends</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">9%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 9%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row item bg-color5-item">
                    <div class="col-md-5">
                        <div class="name">Advisors</div>
                    </div>
                    <div class="col-md-1">
                        <div class="parcent">4%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="grp">
                            <div class="in" style="width: 4%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>