<% include ../helpers.ejs %>
<div>
    <section class="blc-kyc bg-blue pt-5" id="tge-status">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="card-registration" class="card shadow">
                        <div class="card-header text-center bg-green">
                            <h2>PreSale Token Generation Event Status</h2>
                            <p>ETH address: <span></span></p>
                        </div>
                        <div class="card-body bg-light-green">
                            <div class="alert alert-primary alert-network hidden" role="alert">
                                <strong>Wrong Ethereum network</strong>
                                The Asure Network pre-sale will take place in the Ethereum Mainnet.
                                Please ensure you have selected the Ethereum Mainnet in your wallet (e.g. MetaMask)
                            </div>

                            <div class="form-addr-search hidden">
                                <form class="form-inline">
                                    <div class="flex-grow-1">
                                        <label class="sr-only" for="ethereumAddress">Ethereum address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@</div>
                                            </div>
                                            <input type="text" class="form-control form-control"
                                                   id="ethereumAddress" placeholder="Insert your Ethereum address">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn btn-primary btn-update-addr">
                                        Check your Registration
                                    </button>
                                </form>
                            </div>

                            <form class="form-result hidden">

                                <div class="row">
                                    <div class="col-xl-3 col-sm-6 d-flex pt-3">
                                        <div class="card flex-fill">
                                            <div class="card-body text-center">
                                                <h5 class="card-title text-uppercase">
                                                    <span data-toggle="popover" title="" data-placement="bottom"
                                                          data-trigger="hover" data-content="You need MetaMask plugin or other web3 wallet provider."
                                                          data-original-title="Metamask"><strong>Metamask</strong></span>
                                                </h5>
                                                <div class="card-text align-items-center">
                                                    <input type="text" readonly class="form-control-plaintext text-center"
                                                           value="YES">
                                                </div>
                                            </div>
                                            <a class="btn btn-primary btn-block text-uppercase"
                                               href="https://metamask.io/" target="_blank"
                                               rel="noopener">
                                                INSTALL METAMASK
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 d-flex pt-3">
                                        <div class="card flex-fill">
                                            <div class="card-body text-center">
                                                <h5 class="card-title text-uppercase">
                                                    <span data-toggle="popover" title="" data-placement="bottom"
                                                          data-trigger="hover" data-content="Our team will start the Whitelisting on July 30th 2019. We will whitelist all addresses that have been registered with our
                                                    KYC process and after our team has verified the correctness of your registration."
                                                          data-original-title="Whitelisted"><strong>Whitelisted</strong></span>
                                                </h5>
                                                <div class="card-text align-items-center">
                                                    <input type="text" readonly class="form-control-plaintext text-center"
                                                           id="isWhitelisted"
                                                           value="">
                                                </div>
                                            </div>
                                            <a class="btn btn-action btn-block text-uppercase" href="/kyc"
                                               target="_blank"
                                               rel="noopener">
                                                Register for TGE
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 d-flex pt-3">
                                        <div class="card flex-fill">
                                            <div class="card-body d-flex flex-column text-center">
                                                <h5 class="card-title text-uppercase">Pre-sale open</h5>
                                                <div class="card-text align-items-center">
                                                    <input type="text" readonly class="form-control-plaintext text-center" id="isOpen"
                                                           value="">
                                                    <small class="form-text text-muted text-center">
                                                        The Pre-sale will take place from August 1st to August 15th 2019.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 d-flex pt-3">
                                        <div class="card flex-fill">
                                            <div class="card-body d-flex flex-column text-center">
                                                <h5 class="card-title text-uppercase">ASR Token Balance</h5>
                                                <div class="card-text align-items-center">
                                                    <input type="text" readonly class="form-control-plaintext text-center"
                                                           id="balance"
                                                           value="">
                                                </div>
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-primary btn-block btn-add-token-metamask text-uppercase">
                                                Add to MetaMask
                                            </button>


                                        </div>
                                    </div>

                                </div>


                                <div class="buy-token">
                                    <hr>
                                    <div class="form-group row">
                                        <label for="amountEth" class="col-md-3 col-form-label">Buy ASR token</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="number" id="amountEth" class="form-control" value="1"
                                                       min="0.5" max="50000" step="1">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"
                                                          data-toggle="popover" title="" data-placement="bottom"
                                                          data-trigger="hover" data-content="The amount of ETH you want to buy ASR token for."
                                                          data-original-title="ETH"
                                                    >ETH</span>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">
                                                You receive a 50% bonus until August 8th.
                                            </small>
                                        </div>
                                        <div class="col-md-3 d-flex align-items-end">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="amountAsr" class="col-md-3 col-form-label"></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="number" id="amountAsr" readonly class="form-control"
                                                       value="100">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"
                                                          data-toggle="popover" title="" data-placement="bottom"
                                                          data-trigger="hover" data-content="The amount of ASR token you receive."
                                                          data-original-title="ASR"
                                                    >ASR</span>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">
                                            </small>
                                        </div>
                                        <div class="col-md-3">
                                            <small class="form-text text-muted">

                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="form-check form-control-sm">
                                                <input class="form-check-input" type="checkbox" value="" id="termOfUse">
                                                <label class="form-check-label" for="termOfUse">
                                                    I agree to the <a href="#">Terms of Use</a> (including purchaser's
                                                    citizenship and/or residency) and <a href="#">Privacy Policy</a>.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 offset-md-5">
                                            <a class="btn btn-primary btn-block btn-buy text-uppercase disabled"
                                               href="#"
                                               target="_blank" rel="noopener">
                                                Buy ASR Tokens
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-5" style="font-size: .875rem;">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="alert alert-primary alert-buy" role="alert">
                                                The following requirements have to be met to buy ASR token:
                                                <ul>
                                                    <li>The Asure Network pre-sale is open.</li>
                                                    <li>You have installed the <a href="https://metamask.io/">MetaMask
                                                        Browser plugin</a></li>
                                                    <li>You have successfully registered with our KYC process.</li>
                                                    <li>You have accepted the <a href="#">Terms of Use</a> and <a
                                                            href="#">Privacy Policy</a>
                                                    </li>
                                                    <li>Your ETH address has been whitelisted by our team.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Buy Success -->
            <div class="modal fade" id="modal-buy-success" tabindex="-1" role="dialog"
                 aria-labelledby="modal-buy-success" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Congratulations</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You successfully participated in the Asure Network pre-sale.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-buy-failure" tabindex="-1" role="dialog"
                 aria-labelledby="modal-buy-failure" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">An error occured!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            An error occured while trying to buy ASR tokens.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <%- partial("_social_row") %>
        </div>
    </section>
</div>
